*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'josefin sns',sans-serif;
}


.card{
    border: none !important;
}

.hero-background{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAxbDXSKf7YQKbvYI21Vw1ZJ8J7MtQAQ0dTg&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
}

.hero-title{
    margin-top: 180px;
}

.logo{
    color: aqua !important;
    font-size: 35px;
}

span{
    color: #ea153b;
}


.age{
    width: 40%;
    padding: 20px;
    margin: auto;
   border-radius: 5px;
   border: 2px solid springgreen;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
input{
    border: 1px solid aqua;
}

nav ul li a:hover{
    color: green !important;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}